@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source './vendor/filament/**/*.blade.php';
@source  './app/Filament/**/*.php';

@source '../**/*.js';


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';


    --color-primary-50:  #eff6ff;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;


    --color-blue-50: #eff9ff;
    --color-blue-100: #dbf0fe;
    --color-blue-200: #bfe6fe;
    --color-blue-300: #93d7fd;
    --color-blue-400: #60bffa;
    --color-blue-500: #42a5f6;
    --color-blue-600: #2585eb;
    --color-blue-700: #1d6ed8;
    --color-blue-800: #1e59af;
    --color-blue-900: #1e4c8a;
    --color-blue-950: #172f54;

    --radius-md: 0.5rem;


    --color-success-50:  #f0fdf4;
    --color-success-100: #dcfce7;
    --color-success-500: oklch(0.723 0.219 149.579);
    --color-success-600: oklch(0.506 0.144 148.278);

    --color-danger-50:   #fef2f2;
    --color-danger-100:  #fee2e2;
    --color-danger-500:  #ef4444;
    --color-danger-600:  #dc2626;
}


.fi-ta-group-header-cell {
    background-color: skyblue; /* slate-50 */
    color: white !important;
}
.dark .fi-ta-group-header-cell {
    background-color: skyblue; /* slate-800 */
    color: white !important;
}
